table {
  width: 100%;
  margin: 0 0 20px;
  border: none;
  border-collapse: collapse;
}

table th, table td {
  text-align: left;
  border: none;
  padding: 0.25em 0.5em;
}

table th {
  font-weight: bold;
}

table thead th, table thead td {
  border-bottom: 1px solid #777;
}

table tfoot th, table tfoot td {
  border-top: 1px solid #777;
  text-align: right;
}

table tfoot .footer-panel {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: flex-end;
}

table tfoot .footer-panel .field {
  margin: 0 0.5em;
}
