body, html {
  margin: 0;
  padding: 0;
  font: 13px/1.5 sans-serif;
  color: #333;
  background: #eee;
}

body {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
}

header h1 span {
  white-space: nowrap;
}

header, #main, #manual {
  padding: 10px 20px;
}

#main {
  display: flex;
  flex-flow: row wrap;
}

.row {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  margin: 0 -10px 10px;
}

.col {
  flex: 1 1 calc(50%);
  min-width: 300px;
  padding: 0 10px;
  box-sizing: border-box;
}

#plot {
  flex: 1 1 auto;
  min-width: 400px;
}

#options {
  flex: 0 0 auto;
  min-width: 400px;
}

#configs {
  padding: 20px;
}

code {
  color: #44f;
  white-space: nowrap;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

dl dt {
  font-weight: bold;
}

dl dd {
  margin-bottom: 1em;
}

.function-reference dt code {
  font-weight: normal;
  color: inherit;
}

#project-list {
  position: fixed;
  left: 50%;
  top: 0;
  width: 680px;
  max-width: 96vw;
  padding: 30px 50px;
  box-sizing: border-box;
  transform: translateX(-50%);
  background: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
